'editor':
  'fontSize': 13
  'lineHeight': 1.4
  'fontFamily': 'Source Code Pro'
'core':
  'themes': [
    'atom-dark-ui'
    'base16-ocean-dark'
  ]
  'disabledPackages': [
    'background-tips'
  ]
'exception-reporting':
  'userId': 'b32cb661-a80d-12cd-653d-fa8243a4db9f'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '8a91815e1f7f47cd08a90e7683fc5eb0f2799620'
